body {
  margin: 0;
  padding: 0;
}

.register {
  display: flex;
  align-items: center;
  width: 100%;
  height: 550px;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  text-align: left;
}

h1 {
  margin-top: 60px;
  font-weight: normal;
  font-size: 3.5em;
}

.formGroup {
  display: flex;
  flex-direction: column-reverse;
}

.registerForm {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 30%;
  height: 30%;
  align-items: center;
}

.registerForm label {
  width: 250px;
  font-size: 0.7em;
  margin-top: 8px;
  color: white;
}

.registerForm input {
  width: 250px;
  height: 20px;
  border: none;
  border-bottom: 2px solid gray;
  margin-bottom: 8px;
}

.registerForm input:focus {
  border-bottom: 2px solid #024bab;
  outline: none;
}

.registerForm input:focus::placeholder {
  color: transparent;
}

input:focus + label {
  color: #024bab;
}

.registerForm button {
  margin-top: 25px;
  width: auto;
  padding: 10px 30px 10px 30px;
  height: auto;
  background-color: #024bab;
  color: white;
}

footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  background-color: #024bab;
  color: white;
  border-top: 1px solid rgb(250, 250, 250);
}
